:root{
  --primary-white: #ffffff;
  --primary-black: #212121;
  --border: #e6e6e6;
  --placeholder: #bebebe;
}


body{
  /* background: linear-gradient(119deg, #00cc81, #d5e969); */
  background-image: linear-gradient(137deg, #00CC81 0%, #D5E969 100%);
  height: 1vh;
}
header{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
margin-bottom: 64px
}
.header__container{
  max-width: 1140px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-wrapper{
  width: 122px;
  height: 33px;
  object-fit: contain;
  float: left;
}
.header__nav{
  float: left;
  margin: 0 auto;
  visibility: hidden;
}
.header__nav a{
  width: 45px;
  height: 20px;
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 16px;
  padding: 0 20px;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
}
.header__market-links{
  display: flex;
  justify-content: flex-end;
}
.market-links__app-store{
  margin-left: 16px;
}


/* CONTENT */
.content{
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}
.content-left__heading{
  max-width: 550px;
}
.heading__title{
  font-family: 'CircularStd-Bold',sans-serif;
  font-size: 52px;
  line-height: 1.15;
  text-align: left;
  color: var(--primary-white);
  margin: 80px 0 24px;
}
.heading__copy{
  font-family: 'CircularStd-Book';
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  color: var(--primary-white);
  /* opacity: 0.8; */
}
.content-left__signup-form{
  margin: 48px 0 0;
  /* padding: 24px 8px 32px 24px; */
  padding: 32px;
  background-color: var(--primary-white);
  border-radius: 3px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
}
.signup-form__input{
  font-family: 'CircularStd-Book';
  font-size: 15px;
  line-height: 1.33;
  text-align: left;
  color: var(--primary-black);
  width: 312px;
  border-radius: 3px;
  padding: 14px 16px;
  margin-right: 8px;
  box-sizing: content-box;
  background-color: #fbfbfb;
  border: solid 1px var(--border);
  transition: background-color .15s ease-in-out;
}
.signup-form__input:focus{
  background: var(--primary-white);
}

.signup-form__input::placeholder{
  color: var(--placeholder);
}
.signup-form__submit{
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 15px;
  line-height: 1.3;
  text-align: left;
  color: var(--primary-white);
  padding: 14px 16px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(23, 177, 103, 0.9);
  border: 1px solid rgba(23, 177, 103, 1);
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  /* transition: width 2s linear 1s;  */
}
.signup-form__submit:hover{
  background-color: rgba(23, 177, 103, 1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.signup-form__submit:active{
  background-color: #0A9A59;
  box-shadow: none;
}
.signup-form__subtitle{
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 16px;
  text-align: left;
  margin: 8px 0 24px;
  color: rgba(23, 177, 103, 1);
  color: #6a6a6a;
}
.signup-form__subtitle span{
  font-size: 18px;
}

.signup-form__error{
  font-family: 'CircularStd-BookItalic',sans-serif;
  font-size: 13px;
  text-align: left;
  margin: 16px 0 0;
  color: #6a6a6a;
  display: none;
}

.content-socials{
  max-width: 550px;
  margin-top: 40px;
}

.socials__caption{
  font-family: "CircularStd-Book";
  font-size: 16px;
  text-align: left;
  color: var(--primary-white);
  margin-bottom: 32px
}
.socials__twitter, .socials__telegram{
  padding: 8px 12px;
  background-color: rgba(255,255,255,0.24);
  border-radius: 3px;
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  color: var(--primary-white);
  margin-right: 16px;
  transition: background-color .15s ease-in-out;
}
.socials__twitter img, .socials__telegram img{
  width: 20px;
  margin-right: 8px;
}
.socials__twitter:hover{
  background-color: rgba(255,255,255,0.40);
}
  .socials__telegram:hover{
  background-color: rgba(255,255,255,0.40);

}

.content-right{
  position: relative;
  width: 300px;
}
.content-right__iphone{
  position: absolute;
    right: 132px;
    z-index: 10;
}
.content-right__iphone img{
  width: 100%;
}
.content-right__pixel{
  position: absolute;
    top: 56px;
    z-index: 9;
}
.content-right__pixel img{
  width: 100%;
}



.Bg_image{
  background-image: url(../img/rounds.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-position: 250% 50%;
  background-repeat: no-repeat;
  z-index: 100;
  display: none;
}


/* FOOTER */

footer{
  width: 100%;
  background-color: var(--primary-white);
  position: absolute;
  bottom: 0;
}
.footer__container{
  max-width: 1140px;
  width: 100%;
  height: 64px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright{
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 14px;
  text-align: left;
  color: #9f9f9f;
}
.footer__languages{
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 15px;
  text-align: left;
  height: 24px;
  color: var(--primary-black);
  display: flex;
  align-items:center;
}
.footer__languages span{
  font-size: 22px;
  height: 24px;
  text-align: left;
  margin-top: 4px;
}





/* MEDIA QUERIES */




@media screen and (max-width:1280px){
  header{
    margin-bottom: 32px;
  }
  .content-right__iphone{
    max-width: 300px;
    width: 100%;
  }
  .content-right__pixel{
    max-width: 300px;
    width: 100%;
    top: 48px;
  }
}
