:root{
  --primary-white: #ffffff;
  --primary-black: #212121;
  --border: #e6e6e6;
  --placeholder: #bebebe;
}

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}

body{
  /* background: linear-gradient(119deg, #00cc81, #d5e969); */
  background-image: linear-gradient(137deg, #00CC81 0%, #D5E969 100%);
  height: 100%;
  position: relative;

}



.modal-overlay{
  display: none;
  position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 5000;
}
.modal-block{
  width: 600px;
  /* height: 320px; */
  padding: 48px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.24);
}
.modal_emoji{
  text-align: center;
  font-size: 48px;
}
.modal_title{
  text-align: center;
  font-family: 'CircularStd-Medium', sans-serif;
  font-size: 28px;
  margin: 24px 0;
}
.modal_copy{
  text-align: center;
    font-family: 'CircularStd-Book', sans-serif;
    font-size: 18px;
    margin: 24px 0;
    color: #959595;
}

.wrapper{
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 64px; /* height of your footer */
}

header{
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
margin-bottom: 64px
}
.header__container{
  max-width: 1140px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-wrapper{
  width: 122px;
  height: 33px;
  object-fit: contain;
  float: left;
}
.header__logo{
  width: 100%;
}
.header__nav{
  float: left;
  margin: 0 auto;
  visibility: hidden;
}
.header__nav a{
  width: 45px;
  height: 20px;
  font-family: 'CircularStd-Book',sans-serif;
  font-size: 16px;
  padding: 0 20px;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
}
.header__market-links{
  display: flex;
  justify-content: flex-end;
}
.market-links__app-store{
  margin-left: 16px;
  display: none;
}


/* CONTENT */
.content{
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  margin-bottom: 80px;

}
.content-left__heading{
  max-width: 550px;
}
.heading__title{
  font-family: 'Manrope-Extrabold',sans-serif;
  font-size: 50px;
  line-height: 1.15;
  text-align: left;
  color: var(--primary-white);
  margin: 80px 0 24px;
}
.heading__copy{
  font-family: 'Manrope-Semibold',sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: left;
  color: var(--primary-white);
  /* opacity: 0.8; */
}
.content-left__signup-form{
  margin: 48px 0 0;
  /* padding: 24px 8px 32px 24px; */
  padding: 32px;
  background-color: var(--primary-white);
  border-radius: 5px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
}
.signup-form__input{
  font-family: 'Manrope-Semibold';
  font-size: 14px;
  line-height: 1.33;
  text-align: left;
  color: var(--primary-black);
  width: 312px;
  border-radius: 3px;
  padding: 14px 16px;
  margin-right: 8px;
  box-sizing: content-box;
  background-color: #fbfbfb;
  border: solid 1px var(--border);
  transition: background-color .15s ease-in-out;
}
.signup-form__input:focus{
  background: var(--primary-white);
}

.signup-form__input::placeholder{
  color: var(--placeholder);
}
.signup-form__submit{
  font-family: 'Manrope-Semibold',sans-serif;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  color: var(--primary-white);
  padding: 14px 16px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(23, 177, 103, 0.9);
  border: 1px solid rgba(23, 177, 103, 1);
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  /* transition: width 2s linear 1s;  */
}
.signup-form__submit:hover{
  background-color: rgba(23, 177, 103, 1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.signup-form__submit:active{
  background-color: #0A9A59;
  box-shadow: none;
}
.signup-form__subtitle{
  font-family: 'Manrope-Semibold',sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 4px 0 32px;
  color: rgba(23, 177, 103, 1);
  color: #6a6a6a;
}
.signup-form__subtitle span{
  font-size: 18px;
}

.signup-form__error{
  font-family: 'CircularStd-BookItalic',sans-serif;
  font-size: 13px;
  text-align: left;
  margin: 16px 0 0;
  color: #6a6a6a;
  display: none;
}

.content-socials{
  max-width: 590px;
  margin-top: 40px;
}

.socials__caption{
  font-family: 'Manrope-Semibold',sans-serif;
  font-size: 14px;
  text-align: left;
  color: var(--primary-white);
  margin-bottom: 8px
}
.socials__box{
  display: flex;
  flex-wrap: wrap;
}
.socials__buttons{
  padding: 8px 12px;
  background-color: rgba(255,255,255,0.24);
  border-radius: 3px;
  font-family: 'Manrope-Semibold',sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  line-height: 32px;
  color: var(--primary-white);
  margin-right: 16px;
  margin-top: 16px;
  transition: background-color .15s ease-in-out;
}
.socials__buttons img{
  width: 20px;
  height: 20px;
  margin-right: 8px;
  position: relative;
  top: 4px;

}
.socials__buttons:hover{
  background-color: rgba(255,255,255,0.40);
}
  .socials__telegram:hover{
  background-color: rgba(255,255,255,0.40);

}

.content-right{
  position: relative;
  max-width: 350px;
  width: 100%;
}
.content-right__iphone{
  position: absolute;
    right: 132px;
    z-index: 10;
    max-width: 330px;
    width: 100%;
}
.content-right__iphone img{
  width: 100%;
}
.content-right__pixel{
  position: absolute;
    top: 96px;
    right: 32px;
    z-index: 9;
    max-width: 300px;
    width: 100%;
}
.content-right__pixel img{
  width: 100%;
}



.Bg_image{
  background-image: url(../img/rounds.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-position: 250% 50%;
  background-repeat: no-repeat;
  z-index: 100;
  display: none;
}


/* FOOTER */

footer{
  width: 100%;
  background-color: var(--primary-white);
  position: absolute;
  bottom: 0;
  height: 64px;
}
.footer__container{
  max-width: 1140px;
  width: 100%;
  height: 64px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright{
  font-family: 'Manrope-Semibold',sans-serif;
  font-size: 12px;
  text-align: left;
  color: #9f9f9f;
}
.footer__languages{
  display: flex;
  align-items:center;
}
.languages__caption{
  font-family: 'Manrope-Semibold',sans-serif;
  font-size: 14px;
  text-align: left;
  margin-right: 24px
}
.footer__languages select{
  width: 120px;
  height: 24px;
  font-family: 'Manrope-Semibold',sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  border: none;
  background-color: transparent;
  color: var(--primary-black);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
/* .footer__languages .flag{
  font-size: 12px;
  height: 24px;
  text-align: left;
  padding-top: 6px;
} */




/* MEDIA QUERIES */


@media screen and (max-width:1370px){
  header{
    margin-bottom: 32px;
  }
  .content-left{
    margin-top: -40px;
  }
  .content-right__iphone{
    max-width: 300px;
    width: 100%;
  }
  .content-right__pixel{
    max-width: 300px;
    width: 100%;
    top: 48px;
  }
}


@media screen and (max-width:1024px) {
  .header__container, .footer__container{
    max-width: 960px;
  }
  .content{
    max-width: 960px;
  }
  .content-left__heading {
    max-width: 460px;
  }
  .heading__title{
    font-size: 48px;
  }
  .heading__copy{
    font-size: 16px;
  }
  .content-left__signup-form{
    margin: 24 0 0;
    padding: 24px;
  }
  .signup-form__input{
    width: 240px;
  }
}


@media screen and (max-width:800px) {
  .header__container, .footer__container{
    max-width: 720px;
  }
  .content{
    max-width: 720px;
    flex-wrap: wrap;
  }

  .content-left__heading {
    max-width: 680px;
  }
  .heading__title{
    font-size: 52px;
  }
  .heading__copy{
    font-size: 18px;
  }
  .content-left__signup-form{
    margin: 24 0 0;
    padding: 24px;
    width: 100%;
    max-width: 560px;
  }
  .signup-form__input{
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
  }
  .content-right {
    margin: 64px auto;
    position: relative;
    width: 280px;
    z-index: 100;
  }
  footer{
    z-index: 1000;
  }
}

@media screen and (max-width:425px) {
  .header__container, .footer__container{
    max-width: 360px;
  }
  .content{
    max-width: 360px;
    margin-bottom: 564px;
  }
  .header__nav{
    display: none;
  }
  .market-links__app-store{
    margin-left: 10px;
  }
  .market-links__app-store img{
    height: 28px;
  }
  .market-links__play-market img{
    height: 28px;
  }
  .heading__title {
    font-size: 44px;
  }
  .heading__copy{
    font-size: 16px;
  }
  .signup-form{
    width: 100%;
    max-width: 360px;
  }
  .signup-form__submit{
    max-width: 312px;
    width: 100%;
    margin-top: 16px;
    text-align: center;
  }
  .content-right{
    width: 100%;
    right: -66px;
  }
}

@media screen and (max-width:375px) {
  .header__container, .footer__container{
    max-width: 340px;
  }
  .content{
    max-width: 340px;
    margin-bottom: 564px;
  }
  .header__nav{
    display: none;
  }
  .market-links__app-store{
    margin-left: 10px;
  }

  .heading__title {
    font-size: 44px;
  }
  .signup-form{
    width: 100%;
    max-width: 340px;
  }
  .signup-form__input{
    max-width: 257px;
    width: 100%;
  }
  .content-right{
    width: 100%;
    right: -66px;
  }
}
@media screen and (max-width:320px) {
  .header__container, .footer__container{
    max-width: 290px;
  }
  .content{
    max-width: 290px;
    margin-bottom: 564px;
  }
  .header__logo{
    height: 28px;
  }
  .header__nav{
    display: none;
  }
  .market-links__app-store{
    margin-left: 10px;
  }
  .market-links__app-store img{
    height: 22px;
  }
  .market-links__play-market img{
    height: 22px;
  }
  .heading__title {
    font-size: 44px;
  }
  .signup-form{
    width: 100%;
    max-width: 340px;
  }
  .signup-form__input{
    max-width: 257px;
    width: 100%;
  }
  .content-right{
    width: 100%;
    right: -66px;
  }
}
